<!DOCTYPE html>
<html>
  <head>
    <title>
      JINGLEGRAM
    </title>
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="js/vendor/jquery-2.1.1.min.js"></script>
    <script src="js/vendor/jquery-onepagescroll.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/remix.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=OnLoadCallback"></script>
    <script src="js/source/main.js"></script>
    <script src="js/source/youtube-search.js"></script>
    <link rel="stylesheet" type="text/css" href="css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/vendor/animate.css" />
    <link rel="stylesheet" type="text/css" href="css/vendor/onepagescroll.css" />
    <link rel="stylesheet" type="text/css" href="css/source/fonts.css" />
    <link rel="stylesheet" type="text/css" href="css/source/fonts.css" />
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700|Arvo|Lobster|Changa+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/source/app.css" />
  </head>
  <body>
    <div class="main container-fluid">
      <section>
        <div class="row">
          <div class="col-sm-12 text-center">
            <h1 class="lobster"><i class="icon-sleigh-bell"></i> JingleGram</h1>
            <p class="desc">
              JingleGram turns any Youtube Video into a Holiday spectacular.<br />
              Forget to send a Christmas Card?  Never got around to writing that smash hit Hanukkah song?<br />
              No Worries...send a JingleGram
            </p>
            <form class="center search">
              <input id="uploadForm" type="text" placeholder="youtube url or keyword" />
            </form>
            <div class="row">
              <div class="col-sm-12">
                <button class="btn btn-lg text-center center">
                  <i class="santa-1"></i> next <br />
                  <i class="icon-down"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="row">
          <div class="col-sm-12">
            <h2 class="text-center"><i class="icon-settings"></i> options</h2>
          </div
        </div>
        <div class="col-sm-6">
          <h3>How much jingle ya want?</h3>
        </div>
        <div class="col-sm-6">
          <h3>How much bling ya want?</h3>
        </div>
    </section>
    </div>
    <footer class="container-fluid">
      <div>
        <p>
          Icons made by Freepik, Dave Gandy, Icons8 from
          <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>
          is licensed by
          <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">
          CC BY 3.0</a>
        </p>
      </div>
    </footer>
  </body>
</html>
