<!DOCTYPE html>
<html>
  <head>
    <title>
      JINGLEGRAM
    </title>
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="js/vendor/jquery-2.1.1.min.js"></script>
    <script src="js/vendor/jquery-onepagescroll.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/remix.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=OnLoadCallback"></script>
    <script src="js/source/main.js"></script>
    <link rel="stylesheet" type="text/css" href="css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/vendor/animate.css" />
    <link rel="stylesheet" type="text/css" href="css/vendor/onepagescroll.css" />
    <link rel="stylesheet" type="text/css" href="css/source/fonts.css" />
    <link rel="stylesheet" type="text/css" href="css/source/app.css" />
    <link rel="stylesheet" type="text/css" href="css/source/fonts.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="text-center">
            <i class="icon-sleigh-bell"></i> jinglegram
          </h1>
          <p>
            JingleGram turns any Youtube Video into a Holiday spectacular.<br />
            Forget to send a Christmas Card?  Never got around to writing that smash hit Hanukkah song? <br />
          </p>
          <h4>No Worries... Send a JingleGram</h4>
          <h3>Upload a Video or Search Youtube</h3>
          <input id="uploadForm" type="text" />
        </div>
      </section>
      <section>
        <div class="row">
          <h2>Options</h2>
            <div class="col-sm-6">
              <h3>How much jingle ya want?</h3>
              <h3>How much jingle ya want?</h3>
            </div>
            <div class="col-sm-6">
              <h3>How much bling ya want?</h3>
            </div>
        </div>
    </section>
    </div>
    <footer class="container-fluid">
      <div>
        <p>
          Icons made by Freepik, Dave Gandy, Icons8 from
          <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>
          is licensed by
          <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">
          CC BY 3.0</a>
        </p>
      </div>
    </footer>
  </body>
</html>
